# Dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.*
!.env.example

# Build output
dist/
build/
.next/
out/

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Coverage
coverage/

# Cache
.cache/
.parcel-cache/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Misc
*.tgz
*.local
